//
//  SecretConfig.h.template
//  foo_scrobble_mac
//
//  Last.fm API credentials template
//  Copy this file to SecretConfig.h and fill in your credentials
//  DO NOT commit SecretConfig.h to version control
//

#pragma once

// Get your API key from: https://www.last.fm/api/account/create
#define LASTFM_API_KEY "YOUR_API_KEY_HERE"
#define LASTFM_API_SECRET "YOUR_API_SECRET_HERE"
